In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv('data/multiple_linear_regression.csv')
df

     SAT   GPA  Rand 1,2,3
0   1714  2.40           1
1   1664  2.52           3
2   1760  2.54           3
3   1685  2.74           3
4   1693  2.83           2
..   ...   ...         ...
79  1936  3.71           3
80  1810  3.71           1
81  1987  3.73           3
82  1962  3.76           1
83  2050  3.81           2

[84 rows x 3 columns]

In [4]:
df.describe()

               SAT        GPA  Rand 1,2,3
count    84.000000  84.000000   84.000000
mean   1845.273810   3.330238    2.059524
std     104.530661   0.271617    0.855192
min    1634.000000   2.400000    1.000000
25%    1772.000000   3.190000    1.000000
50%    1846.000000   3.380000    2.000000
75%    1934.000000   3.502500    3.000000
max    2050.000000   3.810000    3.000000

In [5]:
# Regression
x = df[['SAT', 'Rand 1,2,3']]
y = df['GPA']

In [6]:
model = LinearRegression()

In [7]:
model.fit(x,y)

LinearRegression()

In [13]:
model.coef_ # coefficient of the SAT score and coefficient of Rand 1,2,3

array([ 0.00165354, -0.00826982])

In [14]:
model.intercept_ # intercept of the model

0.29603261264909486

### Calculating R-squared

In [15]:
model.score(x,y)

0.40668119528142843

### Calculating Adjusted R-squared

There is no function for Adjusted R-squared in sklearn so we have to provide write it from scratch

Formula for Adjusted R-squared is:

$R^2_{adj.} = 1 - (1-R^2)*\frac{n-1}{n-p-1}$

In [17]:
# In the formula n is the number of observations (84 in here) and p is the number of predictors (2 in here)
x.shape

(84, 2)

In [20]:
# Adjusted R-squared
adjusted_r2 = 1 - (1-model.score(x,y))*((84-1)/(84-2-1))
adjusted_r2

0.39203134825134023

In [21]:
# We can create a function for future use:

r2 = model.score(x,y)
n = x.shape[0]
p = x.shape[1]

adjusted_r2 = 1-(1-r2)*(n-1)/(n-p-1)

In [22]:
adjusted_r2

0.39203134825134023

In [23]:
# Just as before we can see that adjusted R2 < R2 so one or more of predictors have little or no explanatory power